@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
}

:root {
  --toastify-color-success: #F05C5C;
  --toastify-toast-background: #F05C5C;
}